{
	"defaultConfig": {
		"buildType": "develop",
		"api": "CoreEngine"
	},
	"compile": [
		{
			"path": "launcher.js",
			"sourceType": "launcher"
		},
		{
			"path": "output/SoundAPI.js",
			"sourceType": "mod"
		}
	],
	"resources": [],
	"buildDirs": [],
	"nativeDirs": [],
	"javaDirs": []
}
